div.iframe {
  border: 3px solid #333;
  box-sizing: content-box;
  margin-bottom: 20px;
}

div#iframe-container-01 {
  height: 600px;
  width: 400px;
}

div#iframe-container-02 {
  height: 600px;
  width: 800px;
}

div#iframe-container-03 {
  height: 400px;
  width: 1200px;
}